* {
	font-face: Roboto!important;
  word-break: keep-all!important;
}

h1,h2,h3,h4,h5,h6,.itm,.so {
    word-wrap: normal;
}

/* 줄 간격 250% */
.lh250 {
  line-height: 250%;
}

/* 첫 줄 -1.5em */
.ti-15 {
  text-indent: -1.5em;
}

/* 첫 줄 -1em */
.ti-1 {
  text-indent: -1em;
}

/* 첫 줄 -2em */
.ti-2 {
  text-indent: -2em;
}

/* gray */
.table-gray,
.table-gray > th,
.table-gray > td {
  background-color: #dbdbdb;
}

.table-gray th,
.table-gray td,
.table-gray thead th,
.table-gray tbody + tbody {
  border-color: #bcbcbc;
}

.table-hover .table-gray:hover {
  background-color: #cfcfcf;
}

.table-hover .table-gray:hover > td,
.table-hover .table-gray:hover > th {
  background-color: #cfcfcf;
}

.btn-gray {
  color: #fff;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.btn-gray:hover {
  color: #fff;
  background-color: #6c6c6c;
  border-color: #666666;
}

.btn-gray:focus, .btn-gray.focus {
  box-shadow: 0 0 0 0.2rem rgba(146, 146, 146, 0.5);
}

.btn-gray.disabled, .btn-gray:disabled {
  color: #fff;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active,
.show > .btn-gray.dropdown-toggle {
  color: #fff;
  background-color: #666666;
  border-color: #5f5f5f;
}

.btn-gray:not(:disabled):not(.disabled):active:focus, .btn-gray:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(146, 146, 146, 0.5);
}


.btn-outline-gray {
  color: #7f7f7f;
  border-color: #7f7f7f;
}

.btn-outline-gray:hover {
  color: #fff;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.btn-outline-gray:focus, .btn-outline-gray.focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 219, 219, 0.5);
}

.btn-outline-gray.disabled, .btn-outline-gray:disabled {
  color: #7f7f7f;
  background-color: transparent;
}

.btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray.dropdown-toggle {
  color: #fff;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
}

.btn-outline-gray:not(:disabled):not(.disabled):active:focus, .btn-outline-gray:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 219, 219, 0.5);
}


.badge-gray {
  color: #fff;
  background-color: #7f7f7f;
}

a.badge-gray:hover, a.badge-gray:focus {
  color: #fff;
  background-color: #666666;
}

a.badge-gray:focus, a.badge-gray.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(219, 219, 219, 0.5);
}

.alert-gray {
  color: #424242;
  background-color: #e5e5e5;
  border-color: #dbdbdb;
}

.alert-gray hr {
  border-top-color: #cfcfcf;
}

.alert-gray .alert-link {
  color: #292929;
}


.list-group-item-gray {
  color: #424242;
  background-color: #dbdbdb;
}

.list-group-item-gray.list-group-item-action:hover, .list-group-item-gray.list-group-item-action:focus {
  color: #424242;
  background-color: #cfcfcf;
}

.list-group-item-gray.list-group-item-action.active {
  color: #fff;
  background-color: #424242;
  border-color: #424242;
}


.bg-gray {
  background-color: #7f7f7f !important;
}

a.bg-gray:hover, a.bg-gray:focus,
button.bg-gray:hover,
button.bg-gray:focus {
  background-color: #666666 !important;
}


.border-gray {
  border-color: #7f7f7f !important;
}


.text-gray {
  color: #7f7f7f !important;
}

a.text-gray:hover, a.text-gray:focus {
  color: #0056b3 !important;
}

/* purple */
.table-purple,
.table-purple > th,
.table-purple > td {
  background-color: #ddb8ff;
}

.table-purple th,
.table-purple td,
.table-purple thead th,
.table-purple tbody + tbody {
  border-color: #bf7aff;
}

.table-hover .table-purple:hover {
  background-color: #d19fff;
}

.table-hover .table-purple:hover > td,
.table-hover .table-purple:hover > th {
  background-color: #d19fff;
}

.btn-purple {
  color: #fff;
  background-color: #8300ff;
  border-color: #8300ff;
}

.btn-purple:hover {
  color: #fff;
  background-color: #7000d9;
  border-color: #6900cc;
}

.btn-purple:focus, .btn-purple.focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 38, 255, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
  color: #fff;
  background-color: #8300ff;
  border-color: #8300ff;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
  color: #fff;
  background-color: #6900cc;
  border-color: #6200bf;
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 38, 255, 0.5);
}


.btn-outline-purple {
  color: #8300ff;
  border-color: #8300ff;
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: #8300ff;
  border-color: #8300ff;
}

.btn-outline-purple:focus, .btn-outline-purple.focus {
  box-shadow: 0 0 0 0.2rem rgba(221, 184, 255, 0.5);
}

.btn-outline-purple.disabled, .btn-outline-purple:disabled {
  color: #8300ff;
  background-color: transparent;
}

.btn-outline-purple:not(:disabled):not(.disabled):active, .btn-outline-purple:not(:disabled):not(.disabled).active,
.show > .btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #8300ff;
  border-color: #8300ff;
}

.btn-outline-purple:not(:disabled):not(.disabled):active:focus, .btn-outline-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(221, 184, 255, 0.5);
}


.badge-purple {
  color: #fff;
  background-color: #8300ff;
}

a.badge-purple:hover, a.badge-purple:focus {
  color: #fff;
  background-color: #6900cc;
}

a.badge-purple:focus, a.badge-purple.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(221, 184, 255, 0.5);
}

.alert-purple {
  color: #450085;
  background-color: #e6ccff;
  border-color: #ddb8ff;
}

.alert-purple hr {
  border-top-color: #d19fff;
}

.alert-purple .alert-link {
  color: #2b0052;
}


.list-group-item-purple {
  color: #450085;
  background-color: #ddb8ff;
}

.list-group-item-purple.list-group-item-action:hover, .list-group-item-purple.list-group-item-action:focus {
  color: #450085;
  background-color: #d19fff;
}

.list-group-item-purple.list-group-item-action.active {
  color: #fff;
  background-color: #450085;
  border-color: #450085;
}


.bg-purple {
  background-color: #8300ff !important;
}

a.bg-purple:hover, a.bg-purple:focus,
button.bg-purple:hover,
button.bg-purple:focus {
  background-color: #6900cc !important;
}


.border-purple {
  border-color: #8300ff !important;
}


.text-purple {
  color: #8300ff !important;
}

a.text-purple:hover, a.text-purple:focus {
  color: #0056b3 !important;
}

/* orange */
.table-orange,
.table-orange > th,
.table-orange > td {
  background-color: #ffddb8;
}

.table-orange th,
.table-orange td,
.table-orange thead th,
.table-orange tbody + tbody {
  border-color: #ffbf7a;
}

.table-hover .table-orange:hover {
  background-color: #ffd19f;
}

.table-hover .table-orange:hover > td,
.table-hover .table-orange:hover > th {
  background-color: #ffd19f;
}

.btn-orange {
  color: #fff;
  background-color: #ff8300;
  border-color: #ff8300;
}

.btn-orange:hover {
  color: #fff;
  background-color: #d97000;
  border-color: #cc6900;
}

.btn-orange:focus, .btn-orange.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 150, 38, 0.5);
}

.btn-orange.disabled, .btn-orange:disabled {
  color: #fff;
  background-color: #ff8300;
  border-color: #ff8300;
}

.btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled).active,
.show > .btn-orange.dropdown-toggle {
  color: #fff;
  background-color: #cc6900;
  border-color: #bf6200;
}

.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 150, 38, 0.5);
}


.btn-outline-orange {
  color: #ff8300;
  border-color: #ff8300;
}

.btn-outline-orange:hover {
  color: #fff;
  background-color: #ff8300;
  border-color: #ff8300;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 221, 184, 0.5);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
  color: #ff8300;
  background-color: transparent;
}

.btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
  color: #fff;
  background-color: #ff8300;
  border-color: #ff8300;
}

.btn-outline-orange:not(:disabled):not(.disabled):active:focus, .btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 221, 184, 0.5);
}


.badge-orange {
  color: #fff;
  background-color: #ff8300;
}

a.badge-orange:hover, a.badge-orange:focus {
  color: #fff;
  background-color: #cc6900;
}

a.badge-orange:focus, a.badge-orange.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 221, 184, 0.5);
}

.alert-orange {
  color: #854500;
  background-color: #ffe6cc;
  border-color: #ffddb8;
}

.alert-orange hr {
  border-top-color: #ffd19f;
}

.alert-orange .alert-link {
  color: #522b00;
}


.list-group-item-orange {
  color: #854500;
  background-color: #ffddb8;
}

.list-group-item-orange.list-group-item-action:hover, .list-group-item-orange.list-group-item-action:focus {
  color: #854500;
  background-color: #ffd19f;
}

.list-group-item-orange.list-group-item-action.active {
  color: #fff;
  background-color: #854500;
  border-color: #854500;
}


.bg-orange {
  background-color: #ff8300 !important;
}

a.bg-orange:hover, a.bg-orange:focus,
button.bg-orange:hover,
button.bg-orange:focus {
  background-color: #cc6900 !important;
}


.border-orange {
  border-color: #ff8300 !important;
}


.text-orange {
  color: #ff8300 !important;
}

a.text-orange:hover, a.text-orange:focus {
  color: #0056b3 !important;
}

/* gray-light */
.table-gray-light,
.table-gray-light > th,
.table-gray-light > td {
  background-color: #ededed;
}

.table-gray-light th,
.table-gray-light td,
.table-gray-light thead th,
.table-gray-light tbody + tbody {
  border-color: #dddddd;
}

.table-hover .table-gray-light:hover {
  background-color: #e7e7e7;
}

.table-hover .table-gray-light:hover > td,
.table-hover .table-gray-light:hover > th {
  background-color: #e7e7e7;
}

.btn-gray-light {
  color: #fff;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray-light:hover {
  color: #fff;
  background-color: #b5b5b5;
  border-color: #b2b2b2;
}

.btn-gray-light:focus, .btn-gray-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 200, 200, 0.5);
}

.btn-gray-light.disabled, .btn-gray-light:disabled {
  color: #fff;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-gray-light:not(:disabled):not(.disabled):active, .btn-gray-light:not(:disabled):not(.disabled).active,
.show > .btn-gray-light.dropdown-toggle {
  color: #fff;
  background-color: #b2b2b2;
  border-color: #005cbf;
}

.btn-gray-light:not(:disabled):not(.disabled):active:focus, .btn-gray-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 200, 200, 0.5);
}


.btn-outline-gray-light {
  color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray-light:hover {
  color: #fff;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray-light:focus, .btn-outline-gray-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 237, 237, 0.5);
}

.btn-outline-gray-light.disabled, .btn-outline-gray-light:disabled {
  color: #bfbfbf;
  background-color: transparent;
}

.btn-outline-gray-light:not(:disabled):not(.disabled):active, .btn-outline-gray-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray-light.dropdown-toggle {
  color: #fff;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.btn-outline-gray-light:not(:disabled):not(.disabled):active:focus, .btn-outline-gray-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-gray-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 237, 237, 0.5);
}


.badge-gray-light {
  color: #fff;
  background-color: #bfbfbf;
}

a.badge-gray-light:hover, a.badge-gray-light:focus {
  color: #fff;
  background-color: #b2b2b2;
}

a.badge-gray-light:focus, a.badge-gray-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(237, 237, 237, 0.5);
}

.alert-gray-light {
  color: #a0a0a0;
  background-color: #f2f2f2;
  border-color: #ededed;
}

.alert-gray-light hr {
  border-top-color: #e7e7e7;
}

.alert-gray-light .alert-link {
  color: #939393;
}


.list-group-item-gray-light {
  color: #a0a0a0;
  background-color: #ededed;
}

.list-group-item-gray-light.list-group-item-action:hover, .list-group-item-gray-light.list-group-item-action:focus {
  color: #a0a0a0;
  background-color: #e7e7e7;
}

.list-group-item-gray-light.list-group-item-action.active {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #a0a0a0;
}


.bg-gray-light {
  background-color: #bfbfbf !important;
}

a.bg-gray-light:hover, a.bg-gray-light:focus,
button.bg-gray-light:hover,
button.bg-gray-light:focus {
  background-color: #b2b2b2 !important;
}


.border-gray-light {
  border-color: #bfbfbf !important;
}


.text-gray-light {
  color: #bfbfbf !important;
}

a.text-gray-light:hover, a.text-gray-light:focus {
  color: #0056b3 !important;
}

/* pink */
.table-pink,
.table-pink > th,
.table-pink > td {
  background-color: #ffb8e0;
}

.table-pink th,
.table-pink td,
.table-pink thead th,
.table-pink tbody + tbody {
  border-color: #ff7ac5;
}

.table-hover .table-pink:hover {
  background-color: #ff9fd5;
}

.table-hover .table-pink:hover > td,
.table-hover .table-pink:hover > th {
  background-color: #ff9fd5;
}

.btn-pink {
  color: #fff;
  background-color: #ff008f;
  border-color: #ff008f;
}

.btn-pink:hover {
  color: #fff;
  background-color: #d9007a;
  border-color: #cc0073;
}

.btn-pink:focus, .btn-pink.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 160, 0.5);
}

.btn-pink.disabled, .btn-pink:disabled {
  color: #fff;
  background-color: #ff008f;
  border-color: #ff008f;
}

.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #cc0073;
  border-color: #bf006b;
}

.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 160, 0.5);
}


.btn-outline-pink {
  color: #ff008f;
  border-color: #ff008f;
}

.btn-outline-pink:hover {
  color: #fff;
  background-color: #ff008f;
  border-color: #ff008f;
}

.btn-outline-pink:focus, .btn-outline-pink.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 184, 224, 0.5);
}

.btn-outline-pink.disabled, .btn-outline-pink:disabled {
  color: #ff008f;
  background-color: transparent;
}

.btn-outline-pink:not(:disabled):not(.disabled):active, .btn-outline-pink:not(:disabled):not(.disabled).active,
.show > .btn-outline-pink.dropdown-toggle {
  color: #fff;
  background-color: #ff008f;
  border-color: #ff008f;
}

.btn-outline-pink:not(:disabled):not(.disabled):active:focus, .btn-outline-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 184, 224, 0.5);
}


.badge-pink {
  color: #fff;
  background-color: #ff008f;
}

a.badge-pink:hover, a.badge-pink:focus {
  color: #fff;
  background-color: #cc0073;
}

a.badge-pink:focus, a.badge-pink.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 184, 224, 0.5);
}

.alert-pink {
  color: #85004b;
  background-color: #ffcce9;
  border-color: #ffb8e0;
}

.alert-pink hr {
  border-top-color: #ff9fd5;
}

.alert-pink .alert-link {
  color: #52002d;
}


.list-group-item-pink {
  color: #85004b;
  background-color: #ffb8e0;
}

.list-group-item-pink.list-group-item-action:hover, .list-group-item-pink.list-group-item-action:focus {
  color: #85004b;
  background-color: #ff9fd5;
}

.list-group-item-pink.list-group-item-action.active {
  color: #fff;
  background-color: #85004b;
  border-color: #85004b;
}


.bg-pink {
  background-color: #ff008f !important;
}

a.bg-pink:hover, a.bg-pink:focus,
button.bg-pink:hover,
button.bg-pink:focus {
  background-color: #cc0073 !important;
}


.border-pink {
  border-color: #ff008f !important;
}


.text-pink {
  color: #ff008f !important;
}

a.text-pink:hover, a.text-pink:focus {
  color: #0056b3 !important;
}

/* lime */
.table-lime,
.table-lime > th,
.table-lime > td {
  background-color: #efffb8;
}

.table-lime th,
.table-lime td,
.table-lime thead th,
.table-lime tbody + tbody {
  border-color: #e1ff7a;
}

.table-hover .table-lime:hover {
  background-color: #5f5f5f;
}

.table-hover .table-lime:hover > td,
.table-hover .table-lime:hover > th {
  background-color: #5f5f5f;
}

.btn-lime {
  color: #fff;
  background-color: #c6ff00;
  border-color: #c6ff00;
}

.btn-lime:hover {
  color: #fff;
  background-color: #a9d900;
  border-color: #9fcc00;
}

.btn-lime:focus, .btn-lime.focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 255, 38, 0.5);
}

.btn-lime.disabled, .btn-lime:disabled {
  color: #fff;
  background-color: #c6ff00;
  border-color: #c6ff00;
}

.btn-lime:not(:disabled):not(.disabled):active, .btn-lime:not(:disabled):not(.disabled).active,
.show > .btn-lime.dropdown-toggle {
  color: #fff;
  background-color: #9fcc00;
  border-color: #94bf00;
}

.btn-lime:not(:disabled):not(.disabled):active:focus, .btn-lime:not(:disabled):not(.disabled).active:focus,
.show > .btn-lime.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 255, 38, 0.5);
}


.btn-outline-lime {
  color: #c6ff00;
  border-color: #c6ff00;
}

.btn-outline-lime:hover {
  color: #fff;
  background-color: #c6ff00;
  border-color: #c6ff00;
}

.btn-outline-lime:focus, .btn-outline-lime.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-lime.disabled, .btn-outline-lime:disabled {
  color: #c6ff00;
  background-color: transparent;
}

.btn-outline-lime:not(:disabled):not(.disabled):active, .btn-outline-lime:not(:disabled):not(.disabled).active,
.show > .btn-outline-lime.dropdown-toggle {
  color: #fff;
  background-color: #c6ff00;
  border-color: #c6ff00;
}

.btn-outline-lime:not(:disabled):not(.disabled):active:focus, .btn-outline-lime:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-lime.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


.badge-lime {
  color: #fff;
  background-color: #c6ff00;
}

a.badge-lime:hover, a.badge-lime:focus {
  color: #fff;
  background-color: #9fcc00;
}

a.badge-lime:focus, a.badge-lime.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.alert-lime {
  color: #678500;
  background-color: #f4ffcc;
  border-color: #efffb8;
}

.alert-lime hr {
  border-top-color: #5f5f5f;
}

.alert-lime .alert-link {
  color: #3f5200;
}


.list-group-item-lime {
  color: #678500;
  background-color: #efffb8;
}

.list-group-item-lime.list-group-item-action:hover, .list-group-item-lime.list-group-item-action:focus {
  color: #678500;
  background-color: #5f5f5f;
}

.list-group-item-lime.list-group-item-action.active {
  color: #fff;
  background-color: #678500;
  border-color: #678500;
}


.bg-lime {
  background-color: #c6ff00 !important;
}

a.bg-lime:hover, a.bg-lime:focus,
button.bg-lime:hover,
button.bg-lime:focus {
  background-color: #9fcc00 !important;
}


.border-lime {
  border-color: #c6ff00 !important;
}


.text-lime {
  color: #c6ff00 !important;
}

a.text-lime:hover, a.text-lime:focus {
  color: #0056b3 !important;
}
