*.cmd
.gitattributes
.project
.vscode/ftp-sync.json
.vscode/launch.json
.vscode/settings.json
Nagehts.dev.code-workspace
Readme.md
a.reg
back.php
php-cs-fixer.phar
phpcs.xml/Nagehts.sublime-project
.vscode/ftp-kr.diff*
Nagehts.sublime-workspace
.settings/com.aptana.editor.common.prefs
Nagehts.sublime-project
.idea/dev.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/checkstyle-idea.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
